@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --very-dark-grey: 248deg 15% 11%;
    --dark-grey: 248deg 10% 15%;
    --grey: 251deg 9% 53%;
    --almost-white: 252deg 11% 91%;
    --neon-green: 127deg 100% 82%;
    --red: 0deg 91% 63%;
    --orange: 13deg 96% 66%;
    --yellow: 42deg 91% 68%;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-VariableFont_wght.ttf')
        format('woff2 supports variations'),
      url('/fonts/JetBrainsMono-VariableFont_wght.ttf')
        format('woff2-variations');
    font-weight: 100 1000;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf')
        format('woff2 supports variations'),
      url('/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf')
        format('woff2-variations');
    font-weight: 100 1000;
    font-style: italic;
  }

  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply bg-very-dark-grey font-mono text-base text-almost-white;
  }

  /* Reset for range inputs */
  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }
}

@layer components {
  /* References */
  /* https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
  /* https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider */
  /* Chrome, Safari, Opera, Edge */
  .input-range {
    @apply h-2;
  }

  .input-range::-webkit-slider-runnable-track {
    @apply h-2;
  }

  .input-range::-webkit-slider-thumb {
    @apply -mt-1 h-4 w-4 appearance-none rounded-full bg-almost-white shadow-2xl shadow-neon-green;
  }

  /* Firefox */
  .input-range::-moz-range-track {
    @apply h-2;
  }

  .input-range::-moz-range-thumb {
    @apply h-4 w-4 rounded-full border-0 bg-almost-white;
  }
}
